html {
  font-family: sans-serif;
  font-size: 16px;
}

header {
  border-bottom: 3px dotted silver;
  margin-bottom: 0.5em;
}

tom {
  display: block;
  margin-bottom: 0.5em;
  margin-left: attr();
}

[state="start"] {
  background-color: lightblue;
}
[state="pass"] {
  background-color: lightgreen;
}
[state="fail"] {
  background-color: lightsalmon;
}
